In [7]:
import os
import pandas as pd
import numpy as np
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

ModuleNotFoundError: No module named 'nltk'

In [4]:
dataframe = pd.read_csv('Data/bbc-text.csv')
dataframe.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [5]:
dataframe.tail()

           category                                               text
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

In [6]:
n_category = len(np.unique(dataframe.category))
n_news = len(dataframe.text)
print('Total number of categories:' + str(n_category))
print('Total number of news:' + str(n_news))

Total number of categories:5
Total number of news:2225

In [ ]:
class Data:
    def __init__(self,path):
        self.dataframe = pd.read_csv(path)
        self.n_news = len(self.dataframe.text)
        self.n_category = len(np.unique(self.dataframe.category))
        
    
    def nltk_tag_to_wordnet_tag(nltk_tag):
        if nltk_tag.startswith('J'):
            return wordnet.ADJ
        elif nltk_tag.startswith('V'):
            return wordnet.VERB
        elif nltk_tag.startswith('N'):
            return wordnet.NOUN
        elif nltk_tag.startswith('R'):
            return wordnet.ADV
        else:          
            return None
    
    def lemmatize_sentence(self):
        WN_lemmatizer = WordNetLemmatizer()
        nltk_tagged = nltk.pos_tag(nltk.word_tokenize(sentence))  
        wordnet_tagged = map(lambda x: (x[0], nltk_tag_to_wordnet_tag(x[1])), nltk_tagged)
        lemmatized_sentence = []
        for word, tag in wordnet_tagged:
            if tag is None:
                lemmatized_sentence.append(word)
            else:        
                lemmatized_sentence.append(WN_lemmatizer.lemmatize(word, tag))
        return " ".join(lemmatized_sentence)